# ucf for pro_useless
#
NET clk LOC = V10 | TNM_NET = sys_clk_pin | IOSTANDARD = "LVCMOS33"; 
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz; ## 

############################################################
NET rst_n                 LOC = N4 | IOSTANDARD = "LVCMOS15";    ## reset button## 
############################################################
NET led_out<0>              LOC = V5 | IOSTANDARD = "LVCMOS33";       ## LED1 
NET led_out<1>              LOC = R3 | IOSTANDARD = "LVCMOS33";       ## LED2 
NET led_out<2>              LOC = T3 | IOSTANDARD = "LVCMOS33";       ## LED3 
NET led_out<3>              LOC = T4 | IOSTANDARD = "LVCMOS33";       ## LED4

NET key_in<0>                      LOC = P7 | IOSTANDARD = "LVCMOS33";       ## KEY1 
NET key_in<1>                      LOC = R5 | IOSTANDARD = "LVCMOS33";       ## KEY2 
NET key_in<2>                      LOC = T5 | IOSTANDARD = "LVCMOS33";       ## KEY3 
NET key_in<3>                      LOC = U5 | IOSTANDARD = "LVCMOS33";       ## KEY4 