//! **************************************************************************
// Written by: Map P.20131013 on Tue Jun 19 14:50:48 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk_50m" LOCATE = SITE "V10" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "clk_out" BEL "counter_0" BEL "counter_1" BEL
        "counter_2" BEL "counter_3" BEL "counter_4" BEL "counter_5" BEL
        "counter_6" BEL "counter_7" BEL "counter_8" BEL "counter_9" BEL
        "counter_10" BEL "counter_11" BEL "counter_12" BEL "counter_13" BEL
        "counter_14" BEL "counter_15" BEL "clk_50m_BUFGP/BUFG";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 50 MHz HIGH 50%;
SCHEMATIC END;

